<!doctype html>
<html>
    <head>
        <title>Stream</title>
    </head>

    <body>
        <h1>Streaming Page</h1>
        <% for(i = 0; i < files.length; i++) {%>
          <p><a href=<%= '/stream' + files[i].dir %>> <%= files[i].name %> </a></p>
        <% } %>
    </body>
</html>
